# Copyright 2024 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: e2e presubmit test

on:
  pull_request_target:
    branches: ["main"]

permissions: {}

jobs:
  e2e-presubmit-test:
    runs-on: ubuntu-latest

    # This is running untrusted code in a public repository as pull_request_target.
    # Seek a security review before changing any aspect of this workflow.
    permissions:
      contents: read
      id-token: write

    steps:
    - uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: './go.mod'
        check-latest: true

    - uses: chainguard-dev/octo-sts-action@6177b4481c00308b3839969c3eca88c96a91775f # v1.0.0
      id: octo-sts
      with:
        scope: ${{ github.repository }}
        identity: presubmit-testing

    - name: Check default permissions
      env:
        GITHUB_TOKEN: ${{ steps.octo-sts.outputs.token }}
      run: |
        go run . repo \
          --organization ${{ github.repository_owner }} \
          --repository ${{ github.event.repository.name }} \
          default-permissions

    - name: Check for deploy keys
      env:
        GH_TOKEN: ${{ steps.octo-sts.outputs.token }}
      run: |
        go run . repo \
          --organization ${{ github.repository_owner }} \
          --repository ${{ github.event.repository.name }} \
          deploy-keys

    - name: Check branch protections
      env:
        GH_TOKEN: ${{ steps.octo-sts.outputs.token }}
      run: |
        go run . repo \
          --organization ${{ github.repository_owner }} \
          --repository ${{ github.event.repository.name }} \
          branch-protections
